@pl:registry=https://repo.webbfontaine.com/nexus/repository/wf-npm-all/
@wf:registry=https://repo.webbfontaine.com/nexus/repository/wf-npm-all/
@fortawesome:registry=https://npm.fontawesome.com/
save-exact=true
